# Dependencies
node_modules/
__pycache__/
*.pyc
.env
.env.*

# Poetry
poetry.lock
dist/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build outputs
dist/
build/
.next/
*.egg-info/

# IDE and OS files
.vscode/
.idea/
.DS_Store

*.db
*.coverage
/backend/storage/
